<nav class="navbar navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="assets/img/logo.png" width="200" height="30" alt="">

        </a>

        <a class="btn btn-outline-success" routerLink="/login">Login</a>
    </div>

</nav>

<div class="container">
    <div class=" content">
        <div class="row">
            <div class=" col-md-8 mt-3">
                <div class=" card">
                    <div class=" card-header">
                        <h5 class=" title">Register Sender</h5>
                    </div>
                    <div class=" card-body">
                        <form (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label for="senderName">First Name</label>
                                <input type="text" class="form-control" id="senderName" placeholder="First Name"
                                    [(ngModel)]="sender.senderName" name="senderName">
                            </div>
                            <div class="form-group">
                                <label for="senderMaidenName">Maiden Name</label>
                                <input type="text" class="form-control" id="senderMaidenName"
                                    placeholder="Maiden Name" [(ngModel)]="sender.senderMaidenName"
                                    name="senderMaidenName">
                            </div>
                            <div class="form-group">
                                <label for="senderSurname">Surname</label>
                                <input type="text" class="form-control" id="senderSurname" placeholder="Surname"
                                    [(ngModel)]="sender.senderSurname" name="senderSurname">
                            </div>
                            <div class="form-group">
                                <label for="senderEmail">Email</label>
                                <input type="text" class="form-control" id="senderEmail" placeholder="Email"
                                    [(ngModel)]="sender.senderEmail" name="senderEmail">
                            </div>
                            <div class="form-group">
                                <label for="senderAddress">Password</label>
                                <input type="password" class="form-control" id="senderPassword" placeholder="Password"
                                    [(ngModel)]="sender.senderPassword" name="Password">
                            </div>
                            <div class="form-group">
                                <label for="senderAddress">Address</label>
                                <input type="text" class="form-control" id="senderAddress" placeholder="Address"
                                    [(ngModel)]="sender.senderAddress" name="senderAddress">
                            </div>
                            <div class="form-group">
                                <label for="senderCell">Cell</label>
                                <input type="text" class="form-control" id="senderCell" placeholder="Cell"
                                    [(ngModel)]="sender.senderCell" name="senderCell">
                            </div>
                            <div class="form-group">
                                <label for="senderTown">Town</label>
                                <input type="text" class="form-control" id="senderTown" placeholder="Town"
                                    [(ngModel)]="sender.senderTown" name="senderTown">
                            </div>
                            <div class="form-group">
                                <label for="senderCountry">Country</label>
                                <input type="text" class="form-control" id="senderCountry" placeholder="Country"
                                    [(ngModel)]="sender.senderCountry" name="senderCountry">
                            </div>
                            <button type="submit" class="btn btn-primary">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>