/* table {
    border-collapse: collapse;
    box-shadow: 0 5px 10px color gray;
    background-color: white;
    text-align:left;
    overflow:hidden;
    width: 50%;
}

th {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
    font-size: 14px;
    color: #71748d;
}

td {
    padding: 1rem 2rem;
    font-size: 14px;
    color: #71748d;
}



thead{
    box-shadow:0 5px 10px color gray;
    background-color: white;
    text-align:left;
    overflow: hidden;
} */
