<nav class="navbar navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="assets/img/logo.png" width="200" height="30" alt="">

        </a>

        <a class="nav-item nav-link" routerLink="/add-recipient">Add Recipient</a>
        <a class="nav-item nav-link" routerLink="/login">Logout</a>
    </div>

</nav>

<div class="container">
    <div class=" row">
        <div class=" col-md-12 mt-3">
            <div class=" card-body">
                <div class=" table">
                    <table class=" table tablesorter" id="">
                        <thead class=" text-primary">
                        </thead>
                        <tbody>
                            <th scope="col">Name</th>
                            <th scope="col">Send Money</th>
                            <th scope="col">Airtime</th>
                            <th scope="col">Actions</th>
                            <tr *ngFor="let recipient of recipients">
                                <td>
                                    {{recipient.recipientName}}
                                    {{recipient.recipientMaidenName}}
                                    {{recipient.recipientSurname}}
                                </td>
                                <td>
                                    <button class="btn btn-outline-info">
                                        <i class="fa-solid fa-paper-plane"></i>
                                    </button>
                                </td>

                                <td>
                                    <button class="btn btn-outline-info">
                                        <i class="fa-solid fa-phone"></i>
                                    </button>
                                <td>
                                    <button class="btn btn-outline-info" 
                                    [routerLink]="'/dash/view-recipient/' + recipient.recipientId">
                                        
                                        <i class="fa-solid fa-eye"></i>
                                    </button>
                                    <a class="btn btn-outline-success"
                                        [routerLink]="'/dash/update-recipient/' + recipient.recipientId">
                                        <i class="fa-solid fa-square-pen"></i>
                                    </a>
                                    <button class="btn btn-outline-danger">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>